* {
    background-color: rgb(2, 2, 109);
    padding: 0;
    margin: 0;
}

.navBar {
    position: absolute;
}

.title{
    color: blue;
    
}
a{
    color: #ffff;
    text-decoration: none;
    transition: 0.3s;

}
