* {
    background-color: rgb(68, 68, 212);
    padding: 0;
    margin: 0;
}

.navBar {
    align-items: center;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}
.corpo-site{
    margin-top: 80px;
}
.imagens{
    display: inline-flex;
}
.title{
    color: rgb(0, 247, 255);
}
a{
    color: #ffff;
    text-decoration: none;
    transition: 0.3s;

}
li{
    display: inline-flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
